.popup {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  transition: visibility .6s, opacity .6s ease;
  opacity: 0;
}

