.popup__content{
    margin: 0;
    width: 430px;
    height: 330px;
    display: block;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
}

@media screen and (max-width: 550px) {
    .popup__content{
        width: 282px;
        height: 322px;
    }
    
}