.main{
    margin: 0;
    max-width: 880px;
    min-width: 320px;
    width: 880px;
}

@media screen and (max-width: 915px) {
    .main{
        width: calc(100% - 42px);
    }
}

@media screen and (max-width: 768px) {
    .main{
        width: calc(100% - 38px);
    }
}

@media screen and (max-width: 425px) {
    .main{
        margin: 42px 0 0 0;
        width: calc(100% - 19px);
    }
}