.card__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 22px 15px 22px 21px;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    gap: 26px;
}

@media screen and (max-width: 880px) {
    .card__wrapper{
        padding: 25px 15px 31px 21px;
    }
    
}