.popup__close-button{
    margin: 0;
    width: 32px;
    height: 32px;
    position: relative;
    left: 38px;
    top: -8px;
    align-self: flex-end;
    background-image: url(../../../images/cross-close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .popup__close-button{
        width: 20px;
        height: 20px;
        left: -18px;
    }
    
}