.popup__close-button{
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    position: relative;
    left: 38px;
    top: -38px;
    align-self: flex-end;
    background-image: url(../../../images/cross-close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.popup__close-button:hover{
    opacity: .6;
}
@media screen and (max-width: 880px) {
    .popup__close-button{
        margin: 0;
        width: 20px;
        height: 20px;
        top: -32px;
        left: 0;
    }
    
}