.profile__destiny{
    margin: 16px 0 0 0;
    max-width: 430px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 880px) {
    .profile__destiny{
        margin: 8px 0 0 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
    
}